.category-container{
    display: block ;
    margin: 0 10px ;
    height: 100% ;
}
.category-section-title{
    display: block ;
    height: 40px ;
    line-height: 40px;
    border-bottom: 1px solid #bbb ;
    margin-bottom: 10px;
    .title{
        display: inline-block ;
        font-size: 14px;
        font-weight: 500 ;
    }
}
.category-section-row{
    margin: 10px 0 ;
    .label{
        vertical-align: top ;
    }
}
.category-input-list-container{
    display: inline-block ;
    max-width: 700px;
    text-align: justify;
}
.category-input-list-item{
    display: inline-block ;
    margin-bottom: 5px;
}