.category-container{
    display: block ;
    margin: 0 10px ;
    height: 100% ;
}
.category-section-title{
    display: block ;
    height: 40px ;
    line-height: 40px;
    border-bottom: 1px solid #bbb ;
    margin-bottom: 10px;
    .title{
        display: inline-block ;
        font-size: 14px;
        font-weight: 500 ;
    }
}
.category-section-row{
    margin: 10px 0 ;
    .label{
        vertical-align: top ;
    }
}
.category-input-list-container{
    display: inline-block ;
    max-width: 700px;
    text-align: justify;
}
.category-input-list-item{
    display: inline-block ;
    margin-bottom: 5px;
}




/*航班信息列表相关start*/
.category-flight-info-container{
    @baseColor :#eee ;
    @boxWidth:900px;
    display: block;
    width: @boxWidth;
    border: 1px solid @baseColor;
    min-height: 100px;
    .header{
        display: block ;
        height: 30px ;
        line-height: 30px;
        background-color: @baseColor;
        white-space:nowrap;  
    }
    .header-item{
        display: inline-block ;
        font-size: 14px;
        font-weight: 500;
        padding: 0 5px;
        width: 100px;
    }
    .body-left{
        display: inline-block ;
        width: 
    }
    .body-right{
        display: inline-block ;
    }
}
/*航班信息列表end*/

