@import './mixin.scss' ;
body{
    margin: 50px;
}
.price-div-title{
    display: block ;
    position: relative ;
    @include box-sizing(border-box);
    border-bottom: 1px solid #333 ;
    height: 40px ;
    line-height: 40px ;
    margin-bottom: 10px;
    .desc{
        font-size: 14px;
        font-weight: 500 ;
    }
    .icon{
        position: absolute;
        right: 10px;
        top:20px;
        cursor: pointer;
    }
}
.full-content{
    display: inline-block ;
    width: 100% ;
}