html,body,#root,.App{
  display: block ;
  width: 100% ;
  height: 100% !important ;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-container{
  padding-top: 60px;
  height: 100% ;
  display: block ;
}
.main-content{
  height: 100% ;
  display: flex ;
  flex-direction: row ;
}

.main-content .content-left{
  width: 220px;
  height: 100% ;
  border-right: 1px solid #EEE ;
  border-top: 1px solid #EEE ;
}
.main-content .content-right{
  flex-grow:2;
  padding: 0 5px;
  height: 100% ;
}
.list_group{
  margin: 0 ;
  padding: 0 6px ;
  list-style: none ;
}
.list_item{
  padding: 0 ;
  margin: 0 ;
  height: 30px ;
  line-height: 30px ;
  cursor: pointer ;
  border-bottom: 1px solid #EEE ;
}
.list_item a{
  display: inline-block ;
  text-decoration:none ;
  color: #333;
  cursor: pointer ;
  width: 100% ;
  height: 100% ;
}
.list_item:hover{
  background-color:#EEE ;
}
.main-edit-container{
  /*display: flex ;
  flex-direction: column ;*/
  width: 97% ;
  height: 100% ;
}
.inputTextarea{
  width: 100% ;
  height: 230px;
  margin-bottom: 0 ;
  padding-bottom: 0 ;
}

.alert-container{
  position: fixed ;
  top: 60px ;
  right: 30px;
  z-index: 1000;
  min-width: 300px;
}
.alert{
  width: 100% ;
}
.oper-status-container{
  margin: 10px 0 ;
}
.progress{
  margin-bottom: 0 ;
}

.output-region{
  /*flex-basis: 2;*/
  width: 100% ;
  height: 330px;
}

.output-req-header{
  display: inline-block ;
  width: 40% ;
  height: 100% ;
}

.output-res-content{
  display: inline-block ;
  width: 60%;
  height: 100% ;
}
.prettify-json{
  width: 100% ;
  height: 100% ;
  display: inline-block ;
}




