.sih-test-tool-textarea{
    display: inline-block ;
    width: 49%;
}
.sih-test-tool-split{
    display: inline-block ;
    width: 2% ;
    height: 2px;
}

//sih参数配置页面
.sih-test-tool-cfgPage{
    .ant-form-item{
        margin-bottom: 5px;
    }
}
